AI-powered HR Screening Automation via Jotform.json
{
  "name": "AI-Powered Resume Scorer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400],
      "notes": "Runs daily — or replace with a Webhook trigger for on-demand scoring"
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "returnAll": true,
        "filter": {
          "includeTrashed": false,
          "mimeType": "application/pdf"
        }
      },
      "id": "node-gdrive-list",
      "name": "List Resumes from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [480, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      },
      "notes": "Lists all PDF resumes in a specific Google Drive folder"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "node-gdrive-download",
      "name": "Download Each Resume",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [720, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      },
      "notes": "Downloads each resume file as binary data"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "node-extract-text",
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [960, 400],
      "notes": "Parses PDF and extracts all text content from the resume"
    },
    {
      "parameters": {
        "jsCode": "// Combine file metadata with extracted text\nconst fileName = $('Download Each Resume').item.json.name || 'Unknown';\nconst fileId = $('Download Each Resume').item.json.id || '';\nconst resumeText = $input.item.json.text || $input.item.json.data || '';\n\n// Attempt to extract candidate email from resume text\nconst emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/;\nconst emailMatch = resumeText.match(emailRegex);\nconst candidateEmail = emailMatch ? emailMatch[0] : 'noreply@example.com';\n\n// Attempt to extract candidate name (first line heuristic)\nconst lines = resumeText.split('\\n').filter(l => l.trim().length > 0);\nconst candidateName = lines[0]?.trim() || fileName.replace('.pdf', '');\n\n// Extract phone number\nconst phoneRegex = /(?:\\+?\\d[\\s\\-.]?){9,14}\\d/;\nconst phoneMatch = resumeText.match(phoneRegex);\nconst candidatePhone = phoneMatch ? phoneMatch[0] : 'N/A';\n\nreturn {\n  fileName,\n  fileId,\n  resumeText,\n  candidateEmail,\n  candidateName,\n  candidatePhone\n};"
      },
      "id": "node-parse-resume",
      "name": "Parse & Extract Resume Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400],
      "notes": "Extracts candidate name, email, phone from raw resume text"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert HR recruiter and talent acquisition specialist with 15+ years of experience evaluating resumes. Your job is to score resumes accurately against a given job description.\n\nScoring Criteria (Total 100 points):\n1. Skills Match (30 pts): How well do the candidate's skills match the required and preferred skills?\n2. Experience Relevance (25 pts): Is the work experience directly relevant to the role?\n3. Education & Certifications (15 pts): Does education background meet requirements?\n4. Achievements & Impact (15 pts): Are there quantifiable accomplishments?\n5. Resume Quality (15 pts): Clarity, formatting, completeness, professional language.\n\nRules:\n- Be strict and objective. Do NOT inflate scores.\n- Score below 60 = Not a good fit.\n- Score 60-79 = Potential fit with gaps.\n- Score 80-100 = Strong fit.\n\nYou MUST respond ONLY in the following JSON format (no markdown, no extra text):\n{\n  \"score\": <number 0-100>,\n  \"grade\": \"<Excellent|Good|Average|Poor>\",\n  \"skills_score\": <0-30>,\n  \"experience_score\": <0-25>,\n  \"education_score\": <0-15>,\n  \"achievements_score\": <0-15>,\n  \"quality_score\": <0-15>,\n  \"key_strengths\": [\"strength1\", \"strength2\", \"strength3\"],\n  \"gaps\": [\"gap1\", \"gap2\"],\n  \"recommendation\": \"<2-3 sentence summary for the recruiter>\",\n  \"decision\": \"<ACCEPT|REJECT>\"\n}"
            },
            {
              "role": "user",
              "content": "=JOB DESCRIPTION:\n{{ $('Set Job Description').item.json.jobDescription }}\n\n---\nRESUME CONTENT:\n{{ $json.resumeText }}\n\n---\nPlease evaluate this resume against the job description and provide a score with detailed breakdown."
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 1000
        }
      },
      "id": "node-ai-scorer",
      "name": "AI Resume Scorer (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [1680, 400],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "notes": "GPT-4o scores the resume 0-100 against the job description with detailed breakdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "jd-1",
              "name": "jobDescription",
              "value": "Job Title: Senior Software Engineer\n\nCompany: TechCorp Inc.\n\nRequired Skills:\n- 5+ years of experience in software development\n- Proficiency in Python, JavaScript, or Java\n- Experience with React or Angular frontend frameworks\n- Strong knowledge of REST APIs and microservices\n- Experience with cloud platforms (AWS, GCP, or Azure)\n- Proficiency in SQL and NoSQL databases\n\nPreferred Skills:\n- Experience with Docker and Kubernetes\n- Knowledge of CI/CD pipelines\n- Open source contributions\n- Agile/Scrum methodology experience\n\nEducation: Bachelor's degree in Computer Science or related field\n\nResponsibilities:\n- Design and develop scalable backend systems\n- Collaborate with cross-functional teams\n- Code reviews and mentoring junior developers\n- Optimize application performance",
              "type": "string"
            },
            {
              "id": "jd-2",
              "name": "recruiterEmail",
              "value": "recruiter@yourcompany.com",
              "type": "string"
            },
            {
              "id": "jd-3",
              "name": "jobTitle",
              "value": "Senior Software Engineer",
              "type": "string"
            },
            {
              "id": "jd-4",
              "name": "companyName",
              "value": "TechCorp Inc.",
              "type": "string"
            }
          ]
        }
      },
      "id": "node-set-jd",
      "name": "Set Job Description",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1440, 240],
      "notes": "⚙️ CONFIGURE THIS: Update job description, recruiter email, job title, company name here"
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response JSON and merge with candidate info\nconst aiResponseText = $input.item.json.message?.content || $input.item.json.text || '{}';\n\nlet aiResult;\ntry {\n  // Clean the response (remove any markdown code blocks if present)\n  const cleaned = aiResponseText.replace(/```json|```/g, '').trim();\n  aiResult = JSON.parse(cleaned);\n} catch(e) {\n  aiResult = {\n    score: 0,\n    grade: 'Error',\n    skills_score: 0,\n    experience_score: 0,\n    education_score: 0,\n    achievements_score: 0,\n    quality_score: 0,\n    key_strengths: [],\n    gaps: ['Failed to parse AI response'],\n    recommendation: 'Error occurred during scoring. Please review manually.',\n    decision: 'REJECT'\n  };\n}\n\n// Merge with candidate info from previous node\nconst candidateName = $('Parse & Extract Resume Info').item.json.candidateName;\nconst candidateEmail = $('Parse & Extract Resume Info').item.json.candidateEmail;\nconst candidatePhone = $('Parse & Extract Resume Info').item.json.candidatePhone;\nconst fileName = $('Parse & Extract Resume Info').item.json.fileName;\nconst jobTitle = $('Set Job Description').item.json.jobTitle;\nconst companyName = $('Set Job Description').item.json.companyName;\nconst recruiterEmail = $('Set Job Description').item.json.recruiterEmail;\n\nconst scoreStatus = aiResult.score >= 80 ? '🟢 Strong Fit' \n  : aiResult.score >= 60 ? '🟡 Potential Fit' \n  : '🔴 Not a Fit';\n\nreturn {\n  candidateName,\n  candidateEmail,\n  candidatePhone,\n  fileName,\n  jobTitle,\n  companyName,\n  recruiterEmail,\n  score: aiResult.score,\n  grade: aiResult.grade,\n  decision: aiResult.decision,\n  scoreStatus,\n  skills_score: aiResult.skills_score,\n  experience_score: aiResult.experience_score,\n  education_score: aiResult.education_score,\n  achievements_score: aiResult.achievements_score,\n  quality_score: aiResult.quality_score,\n  key_strengths: (aiResult.key_strengths || []).join(', '),\n  gaps: (aiResult.gaps || []).join(', '),\n  recommendation: aiResult.recommendation,\n  isAccepted: aiResult.score >= 60\n};"
      },
      "id": "node-extract-results",
      "name": "Extract & Structure Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 400],
      "notes": "Parses AI JSON response and structures all data for email sending"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recruiterEmail }}",
        "subject": "=📋 Resume Review: {{ $json.candidateName }} | Score: {{ $json.score }}/100 | {{ $json.scoreStatus }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: 'Segoe UI', Arial, sans-serif; background: #f5f7fa; margin: 0; padding: 20px; }\n  .container { max-width: 620px; margin: 0 auto; background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.1); }\n  .header { background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%); color: white; padding: 32px; }\n  .header h1 { margin: 0 0 4px; font-size: 22px; font-weight: 700; }\n  .header p { margin: 0; opacity: 0.75; font-size: 14px; }\n  .score-badge { display: inline-block; background: {{ $json.score >= 80 ? '#10b981' : $json.score >= 60 ? '#f59e0b' : '#ef4444' }}; color: white; font-size: 36px; font-weight: 900; padding: 12px 24px; border-radius: 8px; margin: 24px 0 8px; }\n  .score-label { font-size: 13px; opacity: 0.8; }\n  .body { padding: 28px; }\n  .section { margin-bottom: 24px; }\n  .section h3 { font-size: 13px; text-transform: uppercase; letter-spacing: 1px; color: #6b7280; margin: 0 0 12px; }\n  .info-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 12px; }\n  .info-item { background: #f9fafb; border-radius: 8px; padding: 12px 16px; }\n  .info-item label { display: block; font-size: 11px; color: #9ca3af; text-transform: uppercase; letter-spacing: 0.5px; }\n  .info-item span { font-weight: 600; color: #111827; font-size: 14px; }\n  .breakdown-bar { margin: 8px 0; }\n  .breakdown-bar label { font-size: 13px; color: #374151; display: flex; justify-content: space-between; }\n  .bar-bg { background: #e5e7eb; border-radius: 999px; height: 8px; margin-top: 4px; }\n  .bar-fill { height: 8px; border-radius: 999px; background: {{ $json.score >= 60 ? 'linear-gradient(90deg, #10b981, #059669)' : 'linear-gradient(90deg, #f59e0b, #ef4444)' }}; }\n  .tag { display: inline-block; padding: 4px 10px; border-radius: 999px; font-size: 12px; margin: 3px; }\n  .tag-green { background: #d1fae5; color: #065f46; }\n  .tag-red { background: #fee2e2; color: #991b1b; }\n  .decision-box { padding: 16px; border-radius: 8px; text-align: center; font-weight: 700; font-size: 16px; background: {{ $json.isAccepted ? '#d1fae5' : '#fee2e2' }}; color: {{ $json.isAccepted ? '#065f46' : '#991b1b' }}; }\n  .rec-box { background: #eff6ff; border-left: 4px solid #3b82f6; padding: 14px 16px; border-radius: 0 8px 8px 0; font-size: 14px; color: #1e40af; }\n  .footer { background: #f9fafb; padding: 16px 28px; font-size: 12px; color: #9ca3af; text-align: center; border-top: 1px solid #e5e7eb; }\n</style>\n</head>\n<body>\n<div class='container'>\n  <div class='header'>\n    <h1>📋 Resume Evaluation Report</h1>\n    <p>Automated AI Screening · {{ $json.jobTitle }} at {{ $json.companyName }}</p>\n    <div class='score-badge'>{{ $json.score }}/100</div>\n    <div class='score-label'>{{ $json.scoreStatus }} · {{ $json.grade }}</div>\n  </div>\n  <div class='body'>\n    <div class='section'>\n      <h3>Candidate Information</h3>\n      <div class='info-grid'>\n        <div class='info-item'><label>Name</label><span>{{ $json.candidateName }}</span></div>\n        <div class='info-item'><label>Email</label><span>{{ $json.candidateEmail }}</span></div>\n        <div class='info-item'><label>Phone</label><span>{{ $json.candidatePhone }}</span></div>\n        <div class='info-item'><label>Resume File</label><span>{{ $json.fileName }}</span></div>\n      </div>\n    </div>\n    <div class='section'>\n      <h3>Score Breakdown</h3>\n      <div class='breakdown-bar'>\n        <label><span>Skills Match</span><span>{{ $json.skills_score }}/30</span></label>\n        <div class='bar-bg'><div class='bar-fill' style='width:{{ ($json.skills_score/30)*100 }}%'></div></div>\n      </div>\n      <div class='breakdown-bar'>\n        <label><span>Experience Relevance</span><span>{{ $json.experience_score }}/25</span></label>\n        <div class='bar-bg'><div class='bar-fill' style='width:{{ ($json.experience_score/25)*100 }}%'></div></div>\n      </div>\n      <div class='breakdown-bar'>\n        <label><span>Education</span><span>{{ $json.education_score }}/15</span></label>\n        <div class='bar-bg'><div class='bar-fill' style='width:{{ ($json.education_score/15)*100 }}%'></div></div>\n      </div>\n      <div class='breakdown-bar'>\n        <label><span>Achievements</span><span>{{ $json.achievements_score }}/15</span></label>\n        <div class='bar-bg'><div class='bar-fill' style='width:{{ ($json.achievements_score/15)*100 }}%'></div></div>\n      </div>\n      <div class='breakdown-bar'>\n        <label><span>Resume Quality</span><span>{{ $json.quality_score }}/15</span></label>\n        <div class='bar-bg'><div class='bar-fill' style='width:{{ ($json.quality_score/15)*100 }}%'></div></div>\n      </div>\n    </div>\n    <div class='section'>\n      <h3>Key Strengths</h3>\n      {{ $json.key_strengths.split(', ').map(s => `<span class='tag tag-green'>✓ ${s}</span>`).join('') }}\n    </div>\n    <div class='section'>\n      <h3>Identified Gaps</h3>\n      {{ $json.gaps.split(', ').map(g => `<span class='tag tag-red'>✗ ${g}</span>`).join('') }}\n    </div>\n    <div class='section'>\n      <h3>AI Recommendation</h3>\n      <div class='rec-box'>{{ $json.recommendation }}</div>\n    </div>\n    <div class='decision-box'>\n      {{ $json.isAccepted ? '✅ RECOMMENDED FOR INTERVIEW' : '❌ NOT RECOMMENDED — BELOW THRESHOLD' }}\n    </div>\n  </div>\n  <div class='footer'>Generated by AI Resume Screener · Score threshold: 60/100 · Powered by GPT-4o</div>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "node-email-recruiter",
      "name": "Email Recruiter Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2160, 260],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "Sends detailed HTML score report to recruiter with full breakdown"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-accept",
              "leftValue": "={{ $json.isAccepted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-score",
      "name": "Score >= 60?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2160, 520],
      "notes": "Routes to acceptance or rejection email based on score threshold"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.candidateEmail }}",
        "subject": "=🎉 Exciting News! Your Application for {{ $json.jobTitle }} at {{ $json.companyName }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: 'Segoe UI', Arial, sans-serif; background: #f0fdf4; margin: 0; padding: 20px; }\n  .container { max-width: 580px; margin: 0 auto; background: white; border-radius: 16px; overflow: hidden; box-shadow: 0 4px 24px rgba(0,0,0,0.08); }\n  .header { background: linear-gradient(135deg, #065f46 0%, #10b981 100%); color: white; padding: 40px 32px; text-align: center; }\n  .checkmark { font-size: 56px; margin-bottom: 12px; }\n  .header h1 { margin: 0 0 8px; font-size: 26px; font-weight: 800; }\n  .header p { margin: 0; opacity: 0.85; font-size: 15px; }\n  .body { padding: 36px 32px; }\n  .greeting { font-size: 17px; color: #111827; font-weight: 600; margin-bottom: 16px; }\n  .message { font-size: 15px; color: #374151; line-height: 1.7; margin-bottom: 24px; }\n  .highlight-box { background: #ecfdf5; border: 1px solid #6ee7b7; border-radius: 10px; padding: 18px 20px; margin: 24px 0; }\n  .highlight-box h3 { margin: 0 0 8px; color: #065f46; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px; }\n  .highlight-box p { margin: 0; color: #047857; font-size: 14px; line-height: 1.6; }\n  .score-pill { display: inline-block; background: #10b981; color: white; font-weight: 700; font-size: 18px; padding: 8px 20px; border-radius: 999px; margin: 8px 0; }\n  .next-steps { background: #f9fafb; border-radius: 10px; padding: 20px; margin-top: 24px; }\n  .next-steps h3 { margin: 0 0 14px; color: #111827; font-size: 15px; }\n  .step { display: flex; gap: 12px; margin-bottom: 12px; align-items: flex-start; }\n  .step-num { background: #10b981; color: white; border-radius: 50%; width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; font-size: 12px; font-weight: 700; flex-shrink: 0; }\n  .step-text { font-size: 14px; color: #374151; padding-top: 3px; }\n  .footer { text-align: center; padding: 20px; background: #f9fafb; border-top: 1px solid #e5e7eb; font-size: 12px; color: #9ca3af; }\n</style>\n</head>\n<body>\n<div class='container'>\n  <div class='header'>\n    <div class='checkmark'>🎉</div>\n    <h1>Congratulations!</h1>\n    <p>Your application has been shortlisted</p>\n  </div>\n  <div class='body'>\n    <p class='greeting'>Dear {{ $json.candidateName }},</p>\n    <p class='message'>We are thrilled to inform you that after a thorough review of your resume, you have been shortlisted for the position of <strong>{{ $json.jobTitle }}</strong> at <strong>{{ $json.companyName }}</strong>!</p>\n    <div class='highlight-box'>\n      <h3>Your Resume Score</h3>\n      <div class='score-pill'>{{ $json.score }}/100 — {{ $json.grade }}</div>\n      <p>Your profile stood out with the following strengths: <strong>{{ $json.key_strengths }}</strong></p>\n    </div>\n    <p class='message'>Our recruitment team will be reaching out to you shortly to schedule an interview. Please keep your contact details updated and be ready for the next steps.</p>\n    <div class='next-steps'>\n      <h3>📋 What Happens Next?</h3>\n      <div class='step'><div class='step-num'>1</div><div class='step-text'>Our HR team will contact you within <strong>2–3 business days</strong> via email or phone.</div></div>\n      <div class='step'><div class='step-num'>2</div><div class='step-text'>You'll be invited for a <strong>technical/HR interview round</strong> (in-person or virtual).</div></div>\n      <div class='step'><div class='step-num'>3</div><div class='step-text'>Prepare to discuss your experience with <strong>{{ $json.key_strengths }}</strong>.</div></div>\n    </div>\n  </div>\n  <div class='footer'>This is an automated message from {{ $json.companyName }} Talent Acquisition · Please do not reply directly to this email</div>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "node-email-accept",
      "name": "Send Acceptance Email to Candidate",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2400, 380],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "Sends a warm acceptance/shortlist email to qualifying candidates (score ≥ 60)"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.candidateEmail }}",
        "subject": "=Application Update: {{ $json.jobTitle }} at {{ $json.companyName }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: 'Segoe UI', Arial, sans-serif; background: #fafafa; margin: 0; padding: 20px; }\n  .container { max-width: 580px; margin: 0 auto; background: white; border-radius: 16px; overflow: hidden; box-shadow: 0 4px 24px rgba(0,0,0,0.08); }\n  .header { background: linear-gradient(135deg, #1f2937 0%, #374151 100%); color: white; padding: 40px 32px; text-align: center; }\n  .icon { font-size: 48px; margin-bottom: 12px; }\n  .header h1 { margin: 0 0 8px; font-size: 24px; font-weight: 700; }\n  .header p { margin: 0; opacity: 0.75; font-size: 14px; }\n  .body { padding: 36px 32px; }\n  .greeting { font-size: 16px; color: #111827; font-weight: 600; margin-bottom: 16px; }\n  .message { font-size: 15px; color: #374151; line-height: 1.75; margin-bottom: 20px; }\n  .feedback-box { background: #fffbeb; border: 1px solid #fcd34d; border-radius: 10px; padding: 18px 20px; margin: 20px 0; }\n  .feedback-box h3 { margin: 0 0 8px; color: #92400e; font-size: 13px; text-transform: uppercase; letter-spacing: 0.5px; }\n  .feedback-box p { margin: 0; color: #78350f; font-size: 14px; line-height: 1.6; }\n  .encourage-box { background: #eff6ff; border-left: 4px solid #3b82f6; border-radius: 0 8px 8px 0; padding: 16px 18px; margin-top: 20px; }\n  .encourage-box p { margin: 0; color: #1e40af; font-size: 14px; line-height: 1.6; }\n  .footer { text-align: center; padding: 20px; background: #f9fafb; border-top: 1px solid #e5e7eb; font-size: 12px; color: #9ca3af; }\n</style>\n</head>\n<body>\n<div class='container'>\n  <div class='header'>\n    <div class='icon'>📩</div>\n    <h1>Application Status Update</h1>\n    <p>{{ $json.jobTitle }} · {{ $json.companyName }}</p>\n  </div>\n  <div class='body'>\n    <p class='greeting'>Dear {{ $json.candidateName }},</p>\n    <p class='message'>Thank you for taking the time to apply for the <strong>{{ $json.jobTitle }}</strong> position at <strong>{{ $json.companyName }}</strong>. We genuinely appreciate your interest and the effort you invested in your application.</p>\n    <p class='message'>After carefully reviewing your profile against our current requirements, we regret to inform you that we are unable to move forward with your application at this time.</p>\n    <div class='feedback-box'>\n      <h3>📌 Areas to Strengthen</h3>\n      <p>Based on our evaluation, some areas that could improve your profile for similar roles: <strong>{{ $json.gaps }}</strong></p>\n    </div>\n    <p class='message'>This decision was not easy — we received many strong applications. We encourage you to continue building your skills and experience, and we hope you will consider applying for future opportunities with us.</p>\n    <div class='encourage-box'>\n      <p>💡 <strong>Keep going!</strong> Every application is a step forward. We encourage you to work on the identified areas and apply again when future positions open up. Your effort is commendable.</p>\n    </div>\n  </div>\n  <div class='footer'>This is an automated message from {{ $json.companyName }} Talent Acquisition · We wish you the very best in your job search</div>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "node-email-reject",
      "name": "Send Rejection Email to Candidate",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2400, 660],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "Sends a polite, encouraging rejection email with specific feedback (score < 60)"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Resumes from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Resumes from Google Drive": {
      "main": [
        [
          {
            "node": "Download Each Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Each Resume": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "Parse & Extract Resume Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Extract Resume Info": {
      "main": [
        [
          {
            "node": "Set Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Description": {
      "main": [
        [
          {
            "node": "AI Resume Scorer (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Resume Scorer (OpenAI)": {
      "main": [
        [
          {
            "node": "Extract & Structure Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Structure Results": {
      "main": [
        [
          {
            "node": "Email Recruiter Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Score >= 60?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 60?": {
      "main": [
        [
          {
            "node": "Send Acceptance Email to Candidate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email to Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "",
    "timezone": "Asia/Kolkata"
  },
  "staticData": null,
  "tags": ["AI", "HR", "Resume Screening", "Recruitment", "Automation"],
  "meta": {
    "templateCreatedBy": "Claude AI",
    "description": "AI-powered resume scoring workflow. Retrieves resumes from Google Drive, extracts text, scores against a job description using GPT-4o (0-100), emails the recruiter a detailed HTML report, and sends acceptance or rejection emails to each candidate based on a 60-point threshold.",
    "version": 1
  }
}
