AI-powered HR Screening Automation via Jotform.json
{
  "name": "AI-powered HR Screening Automation via Jotform",
  "nodes": [
    {
      "parameters": {
        "form": "252802628500451",
        "onlyAnswers": false
      },
      "id": "7e231b74-4738-45f2-8554-6de2a9e338d7",
      "name": "JotForm Trigger",
      "type": "n8n-nodes-base.jotFormTrigger",
      "position": [
        1136,
        240
      ],
      "webhookId": "6add8d04-abe5-475a-8425-f7c2ea455b0d",
      "typeVersion": 1,
      "credentials": {
        "jotFormApi": {
          "id": "VjFrLLcUITZTxEhR",
          "name": "JotForm account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.content.answers['8'].answer[0] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a90000e0-7164-4784-bcca-aa5e957454b8",
      "name": "Download Resume",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1552,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "43b78b8b-6a86-4990-bc81-2b61729c8391",
      "name": "Upload to LlamaCloud",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1792,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "c12bc0e9-c7d1-44ad-b13d-d00b2d129547",
      "name": "Check Parsing",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2032,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a594ffa6-ddfc-4c2e-a31b-e948da39a7b4",
      "name": "Retrieve Result",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1168,
        688
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "4cc5e415-d1e4-47ab-9bc0-7987708f7ae1",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS"
            }
          ]
        },
        "options": {}
      },
      "id": "15d06239-e9f7-4551-80fa-606b4fd4f2d9",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        2240,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "508f7801-e8b6-4d81-b2d8-6e9d01755ce5",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "position": [
        2480,
        256
      ],
      "webhookId": "49dacea8-5f66-4707-8cf7-f330136e7011",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HR recruiter analyzing a job application for the position of {{ $('Download Resume').item.json.content.answers['17'].answer }}.\n\nCANDIDATE INFORMATION:\n- Name: {{ $('Download Resume').item.json.content.answers['11'].answer.first }} {{ $('Download Resume').item.json.content.answers['11'].answer.last }}\n- Email: {{ $('Get Form Data').item.json.content.answers['12'].answer }}\n- Phone: {{ $('Get Form Data').item.json.content.answers[\"13\"].answer.full }}\n- Applied Position: {{ $('Get Form Data').item.json.content.answers[\"17\"].answer }}\n- Available Start Date: {{ $('Get Form Data').item.json.content.answers[\"14\"].prettyFormat }}\n- Preferred Interview: {{ $('Get Form Data').item.json.content.answers[\"15\"].prettyFormat }}\n\nCOVER LETTER:\n{{ $('Get Form Data').item.json.content.answers[\"7\"].answer }}\n\n----\nRESUME: \n{{ $json.markdown }}\n---\n\nPlease analyze the resume PDF and provide a detailed assessment in JSON format:\n\n{\n  \"compatibility_score\": <1-10>,\n  \"recommendation\": \"<Strong Candidate | Moderate Candidate | Weak Match>\",\n  \"experience_years\": \"<total years>\",\n  \"education\": \"<highest degree and field>\",\n  \"technical_skills\": {\n    \"programming_languages\": [],\n    \"frameworks\": [],\n    \"tools\": [],\n    \"databases\": []\n  },\n  \"key_strengths\": [\n    \"Strength 1 with explanation\",\n    \"Strength 2 with explanation\",\n    \"Strength 3 with explanation\"\n  ],\n  \"concerns\": [\n    \"Any gaps, missing skills, or red flags\"\n  ],\n  \"relevant_experience\": [\n    {\n      \"role\": \"\",\n      \"company\": \"\",\n      \"duration\": \"\",\n      \"key_achievements\": \"\"\n    }\n  ],\n  \"interview_focus_areas\": [\n    \"Topic 1 to explore\",\n    \"Topic 2 to explore\",\n    \"Topic 3 to explore\"\n  ],\n  \"overall_assessment\": \"<2-3 sentence summary>\"\n}\n\nScoring Guide:\n- 9-10: Exceptional, exceeds requirements\n- 7-8: Strong, meets most/all requirements\n- 5-6: Moderate, meets some requirements\n- 3-4: Weak, missing key skills\n- 1-2: Poor match",
        "options": {}
      },
      "id": "a3bf008c-3a0b-46f2-9e2f-b08f6da4e79e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1360,
        688
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "2c7d1ab3-c4f0-4422-a843-27aaea20a842",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1360,
        896
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "cwQPxtf5CO2cRF8N",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "eae63099-bf26-4bae-982a-664ac18e911c",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.is_strong_candidate }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Strong Candidate"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "612f168d-84c1-45a7-b1ca-4798625cd0be",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.is_moderate_candidate }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Moderate Candidate"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "93b41b8a-a171-442e-9249-7fc848266807",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.is_weak_candidate }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Weak Candidate"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "042d485e-b7eb-44a8-8b32-8d57347916c3",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1920,
        672
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Form Data').item.json.content.answers['12'].answer }}",
        "subject": "=рџЋ‰ Great News About Your Application - {{ $('Get Form Data').item.json.content.answers['17'].answer }} at [Company Name]",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Great News About Your Application!</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #f5f5f5;\">\n    <table role=\"presentation\" style=\"width: 100%; border-collapse: collapse; background-color: #f5f5f5;\" cellpadding=\"0\" cellspacing=\"0\">\n        <tr>\n            <td style=\"padding: 40px 20px;\">\n                <table role=\"presentation\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\" cellpadding=\"0\" cellspacing=\"0\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #10b981 0%, #059669 100%); padding: 40px 30px; border-radius: 8px 8px 0 0; text-align: center;\">\n                            <div style=\"background-color: #fbbf24; color: #78350f; display: inline-block; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">\n                                рџЋ‰ Great News!\n                            </div>\n                            <h1 style=\"margin: 0; color: #ffffff; font-size: 28px; font-weight: 600;\">Application Update</h1>\n                            <p style=\"margin: 10px 0 0 0; color: #d1fae5; font-size: 16px;\">[Company Name]</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Main Content -->\n                    <tr>\n                        <td style=\"padding: 40px 30px;\">\n                            <!-- Greeting -->\n                            <p style=\"margin: 0 0 20px 0; color: #333333; font-size: 16px; line-height: 1.6;\">\n                                Dear <strong>{{ $('Get Form Data').item.json.content.answers['11'].answer.first }}</strong>,\n                            </p>\n                            \n                            <!-- Introduction -->\n                            <p style=\"margin: 0 0 20px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                Thank you for applying for the <strong>{{ $('Get Form Data').item.json.content.answers['17'].answer }}</strong> position at <strong>[Company Name]</strong>! We're excited to inform you that your application has made a strong impression on our team.\n                            </p>\n                            \n                            <p style=\"margin: 0 0 20px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                After reviewing your resume and cover letter, we're impressed by your qualifications, particularly:\n                            </p>\n                            \n                            <!-- Strengths Box -->\n                            <div style=\"background: linear-gradient(135deg, #ecfdf5 0%, #d1fae5 100%); border-left: 4px solid #10b981; padding: 20px; margin: 0 0 25px 0; border-radius: 4px;\">\n                                <ol style=\"margin: 0; padding-left: 20px; color: #064e3b;\">\n                                    <li style=\"margin-bottom: 10px; line-height: 1.6; font-size: 15px;\">{{ $json.strengths[0] }}</li>\n                                    <li style=\"margin-bottom: 10px; line-height: 1.6; font-size: 15px;\">{{ $json.strengths[1] }}</li>\n                                    <li style=\"margin-bottom: 0; line-height: 1.6; font-size: 15px;\">{{ $json.strengths[2] }}</li>\n                                </ol>\n                            </div>\n                            \n                            <p style=\"margin: 0 0 25px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                We would love to move forward with the interview process!\n                            </p>\n                            \n                            <!-- Next Steps Section -->\n                            <div style=\"margin: 0 0 25px 0;\">\n                                <h2 style=\"margin: 0 0 15px 0; color: #059669; font-size: 18px; font-weight: 600;\">NEXT STEPS:</h2>\n                                \n                                <p style=\"margin: 0 0 15px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                    We noticed you indicated your preferred interview time as <strong>{{ $('Get Form Data').item.json.content.answers['15'].prettyFormat }}</strong>. We'd be happy to accommodate this, or we can offer alternative times if needed.\n                                </p>\n                                \n                                <p style=\"margin: 0 0 10px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                    Our interview will be approximately 60 minutes and will cover:\n                                </p>\n                                \n                                <ul style=\"margin: 0 0 15px 0; padding-left: 20px; color: #374151;\">\n                                    <li style=\"margin-bottom: 6px; line-height: 1.6;\">Your technical experience and projects</li>\n                                    <li style=\"margin-bottom: 6px; line-height: 1.6;\">Problem-solving scenarios</li>\n                                    <li style=\"margin-bottom: 0; line-height: 1.6;\">Team fit and career goals</li>\n                                </ul>\n                                \n                                <p style=\"margin: 0 0 20px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                    Please reply to this email with your confirmation, or let us know if you'd like to suggest different time slots. We're flexible and want to make this convenient for you!\n                                </p>\n                            </div>\n                            \n                            <!-- What to Expect Section -->\n                            <div style=\"background-color: #f0fdf4; border-left: 4px solid #10b981; padding: 20px; margin: 0 0 25px 0; border-radius: 4px;\">\n                                <p style=\"margin: 0 0 12px 0; color: #166534; font-weight: 600; font-size: 16px;\">WHAT TO EXPECT:</p>\n                                <ul style=\"margin: 0; padding-left: 20px; color: #166534;\">\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">Interview Format: [Video call/In-person/Phone]</li>\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">Interviewers: [Names and titles]</li>\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">Please prepare to discuss specific projects from your resume</li>\n                                    <li style=\"margin-bottom: 0; line-height: 1.5;\">Feel free to ask us questions about the role, team, and company culture</li>\n                                </ul>\n                            </div>\n                            \n                            <!-- Closing -->\n                            <p style=\"margin: 0 0 20px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                We're looking forward to speaking with you soon!\n                            </p>\n                            \n                            <p style=\"margin: 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                Best regards,\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Signature -->\n                    <tr>\n                        <td style=\"padding: 0 30px 30px 30px;\">\n                            <div style=\"border-top: 2px solid #e5e7eb; padding-top: 20px;\">\n                                <p style=\"margin: 0 0 5px 0; color: #1f2937; font-size: 16px; font-weight: 600;\">[HR Manager Name]</p>\n                                <p style=\"margin: 0 0 5px 0; color: #6b7280; font-size: 14px;\">[Title]</p>\n                                <p style=\"margin: 0 0 5px 0; color: #6b7280; font-size: 14px;\"><strong>[Company Name]</strong></p>\n                                <p style=\"margin: 0; color: #6b7280; font-size: 14px;\">\n                                    <a href=\"mailto:[email@company.com]\" style=\"color: #10b981; text-decoration: none;\">[Email]</a> | \n                                    <span>[Phone]</span>\n                                </p>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- P.S. Section -->\n                    <tr>\n                        <td style=\"background-color: #eff6ff; padding: 20px 30px; border-top: 1px solid #bfdbfe;\">\n                            <p style=\"margin: 0; color: #1e40af; font-size: 13px; font-style: italic; line-height: 1.6;\">\n                                <strong>P.S.</strong> If you have any questions before the interview, don't hesitate to reach out!\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background-color: #f9fafb; padding: 20px 30px; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;\">\n                            <p style=\"margin: 0; color: #9ca3af; font-size: 11px; text-align: center; line-height: 1.5;\">\n                                В© 2025 [Company Name]. All rights reserved.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "82a94d77-2dcb-4228-92ee-5af76117ccb8",
      "name": "Send Email_1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2272,
        528
      ],
      "webhookId": "629b5846-c86a-4a7d-942f-0455717df68e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "yuPOtRFMyy3wl0jD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Form Data').item.json.content.answers['12'].answer }}",
        "subject": "=Update Regarding Your {{ $('Get Form Data').item.json.content.answers['17'].answer }} Application",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Application Update</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #f5f5f5;\">\n    <table role=\"presentation\" style=\"width: 100%; border-collapse: collapse; background-color: #f5f5f5;\" cellpadding=\"0\" cellspacing=\"0\">\n        <tr>\n            <td style=\"padding: 40px 20px;\">\n                <table role=\"presentation\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\" cellpadding=\"0\" cellspacing=\"0\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%); padding: 40px 30px; border-radius: 8px 8px 0 0; text-align: center;\">\n                            <h1 style=\"margin: 0; color: #ffffff; font-size: 28px; font-weight: 600;\">Thank You for Applying</h1>\n                            <p style=\"margin: 10px 0 0 0; color: #e0e7ff; font-size: 16px;\">[Company Name]</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Main Content -->\n                    <tr>\n                        <td style=\"padding: 40px 30px;\">\n                            <!-- Greeting -->\n                            <p style=\"margin: 0 0 20px 0; color: #333333; font-size: 16px; line-height: 1.6;\">\n                                Dear <strong>{{ $('Get Form Data').item.json.content.answers['11'].answer.first }}</strong>,\n                            </p>\n                            \n                            <!-- Introduction -->\n                            <p style=\"margin: 0 0 20px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                Thank you for your interest in the <strong>{{ $('Get Form Data').item.json.content.answers['17'].answer }}</strong> position at <strong>[Company Name]</strong> and for taking the time to submit your application. We truly appreciate the effort you put into applying.\n                            </p>\n                            \n                            <p style=\"margin: 0 0 25px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                After careful review of your qualifications, we have decided not to move forward with your application for this particular role at this time. This decision was not made lightly, as we received applications from many qualified candidates.\n                            </p>\n                            \n                            <!-- What's Next Section -->\n                            <div style=\"background-color: #eff6ff; border-left: 4px solid #3b82f6; padding: 20px; margin: 0 0 25px 0; border-radius: 4px;\">\n                                <p style=\"margin: 0 0 12px 0; color: #1e40af; font-weight: 600; font-size: 16px;\">What's Next?</p>\n                                <ul style=\"margin: 0; padding-left: 20px; color: #1e3a8a;\">\n                                    <li style=\"margin-bottom: 10px; line-height: 1.6;\">We encourage you to explore <strong>other positions</strong> at [Company Name] that might be a better match for your skills</li>\n                                    <li style=\"margin-bottom: 10px; line-height: 1.6;\">We'll keep your resume on file for <strong>6 months</strong> and will reach out if a more suitable position opens up</li>\n                                    <li style=\"margin-bottom: 0; line-height: 1.6;\">You're welcome to <strong>apply again in the future</strong> as you gain additional experience</li>\n                                </ul>\n                            </div>\n                            \n                            <!-- Other Opportunities -->\n                            <div style=\"text-align: center; margin: 0 0 25px 0; padding: 20px; background-color: #f0fdf4; border-radius: 8px; border: 1px solid #86efac;\">\n                                <p style=\"margin: 0 0 15px 0; color: #166534; font-size: 15px; font-weight: 600;\">\n                                    рџ”Ќ Explore Other Opportunities\n                                </p>\n                                <p style=\"margin: 0 0 15px 0; color: #166534; font-size: 14px; line-height: 1.6;\">\n                                    We have other positions that might interest you based on your background and skills.\n                                </p>\n                                <a href=\"https://company.com/careers\" style=\"display: inline-block; background-color: #10b981; color: #ffffff; text-decoration: none; padding: 12px 30px; border-radius: 6px; font-weight: 600; font-size: 14px;\">\n                                    View All Open Positions\n                                </a>\n                            </div>\n                            \n                            <!-- Resources Section -->\n                            <div style=\"background-color: #fef3c7; border-left: 4px solid #f59e0b; padding: 20px; margin: 0 0 25px 0; border-radius: 4px;\">\n                                <p style=\"margin: 0 0 12px 0; color: #92400e; font-weight: 600; font-size: 16px;\">рџ“љ Resources to Consider</p>\n                                <p style=\"margin: 0 0 10px 0; color: #78350f; font-size: 14px; line-height: 1.6;\">\n                                    To build skills relevant to <strong>{{ $('Get Form Data').item.json.content.answers['17'].answer }}</strong> roles, you might explore:\n                                </p>\n                                <ul style=\"margin: 0; padding-left: 20px; color: #78350f;\">\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">Online courses for relevant skills (Coursera, Udemy, freeCodeCamp)</li>\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">Contributing to open-source projects on GitHub</li>\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">Building a portfolio of relevant projects</li>\n                                    <li style=\"margin-bottom: 0; line-height: 1.5;\">Networking with professionals in the field on LinkedIn</li>\n                                </ul>\n                            </div>\n                            \n                            <!-- Closing Message -->\n                            <div style=\"background-color: #f9fafb; padding: 20px; border-radius: 8px; margin: 0 0 20px 0; border: 1px solid #e5e7eb;\">\n                                <p style=\"margin: 0; color: #374151; font-size: 15px; line-height: 1.6; text-align: center; font-style: italic;\">\n                                    We genuinely wish you the best in your job search and career development. Thank you again for considering <strong>[Company Name]</strong> as a potential employer.\n                                </p>\n                            </div>\n                            \n                            <p style=\"margin: 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                Best regards,\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Signature -->\n                    <tr>\n                        <td style=\"padding: 0 30px 30px 30px;\">\n                            <div style=\"border-top: 2px solid #e5e7eb; padding-top: 20px;\">\n                                <p style=\"margin: 0 0 5px 0; color: #1f2937; font-size: 16px; font-weight: 600;\">[HR Manager Name]</p>\n                                <p style=\"margin: 0 0 5px 0; color: #6b7280; font-size: 14px;\">[Title]</p>\n                                <p style=\"margin: 0 0 5px 0; color: #6b7280; font-size: 14px;\"><strong>[Company Name]</strong></p>\n                                <p style=\"margin: 0; color: #6b7280; font-size: 14px;\">\n                                    <a href=\"mailto:[email@company.com]\" style=\"color: #6366f1; text-decoration: none;\">[Email]</a> | \n                                    <span>[Phone]</span>\n                                </p>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- Social Media / Stay Connected -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #f3f4f6 0%, #e5e7eb 100%); padding: 25px 30px; text-align: center;\">\n                            <p style=\"margin: 0 0 15px 0; color: #4b5563; font-size: 14px; font-weight: 600;\">\n                                Stay Connected with Us\n                            </p>\n                            <p style=\"margin: 0 0 15px 0; color: #6b7280; font-size: 13px; line-height: 1.5;\">\n                                Follow us for future opportunities and company updates\n                            </p>\n                            <table role=\"presentation\" style=\"margin: 0 auto;\" cellpadding=\"0\" cellspacing=\"0\">\n                                <tr>\n                                    <td style=\"padding: 0 10px;\">\n                                        <a href=\"[LinkedIn URL]\" style=\"display: inline-block; background-color: #0077b5; color: #ffffff; text-decoration: none; padding: 8px 20px; border-radius: 4px; font-size: 13px; font-weight: 600;\">\n                                            LinkedIn\n                                        </a>\n                                    </td>\n                                    <td style=\"padding: 0 10px;\">\n                                        <a href=\"[Twitter URL]\" style=\"display: inline-block; background-color: #1da1f2; color: #ffffff; text-decoration: none; padding: 8px 20px; border-radius: 4px; font-size: 13px; font-weight: 600;\">\n                                            Twitter\n                                        </a>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background-color: #f9fafb; padding: 20px 30px; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;\">\n                            <p style=\"margin: 0; color: #9ca3af; font-size: 11px; text-align: center; line-height: 1.5;\">\n                                В© 2025 [Company Name]. All rights reserved.<br>\n                                This email was sent from an automated system. Please do not reply directly to this message.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {}
      },
      "id": "4b673d9b-bbe6-4e35-9ee5-571f9f228dc8",
      "name": "Send Email_3",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2272,
        880
      ],
      "webhookId": "629b5846-c86a-4a7d-942f-0455717df68e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "yuPOtRFMyy3wl0jD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Form Data').item.json.content.answers['12'].answer }}",
        "subject": "= Update on Your Application - {{ $('Get Form Data').item.json.content.answers['17'].answer }} at [Company Name]",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Application Update</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #f5f5f5;\">\n    <table role=\"presentation\" style=\"width: 100%; border-collapse: collapse; background-color: #f5f5f5;\" cellpadding=\"0\" cellspacing=\"0\">\n        <tr>\n            <td style=\"padding: 40px 20px;\">\n                <table role=\"presentation\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\" cellpadding=\"0\" cellspacing=\"0\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 40px 30px; border-radius: 8px 8px 0 0; text-align: center;\">\n                            <h1 style=\"margin: 0; color: #ffffff; font-size: 28px; font-weight: 600;\">Application Update</h1>\n                            <p style=\"margin: 10px 0 0 0; color: #e0e7ff; font-size: 16px;\">[Company Name]</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Main Content -->\n                    <tr>\n                        <td style=\"padding: 40px 30px;\">\n                            <!-- Greeting -->\n                            <p style=\"margin: 0 0 20px 0; color: #333333; font-size: 16px; line-height: 1.6;\">\n                                Dear <strong>{{ $('Get Form Data').item.json.content.answers['11'].answer.first }}</strong>,\n                            </p>\n                            \n                            <!-- Introduction -->\n                            <p style=\"margin: 0 0 20px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                Thank you for taking the time to apply for the <strong>{{ $('Get Form Data').item.json.content.answers['17'].answer }}</strong> position at <strong>[Company Name]</strong>. We appreciate your interest in joining our team.\n                            </p>\n                            \n                            <p style=\"margin: 0 0 20px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                We have completed our initial review of your application. Your background shows promise, and we see potential in your profile:\n                            </p>\n                            \n                            <!-- Strengths Box -->\n                            <div style=\"background-color: #f0f9ff; border-left: 4px solid #3b82f6; padding: 20px; margin: 0 0 25px 0; border-radius: 4px;\">\n                                <p style=\"margin: 0 0 12px 0; color: #1e40af; font-weight: 600; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;\">Key Strengths</p>\n                                <ol style=\"margin: 0; padding-left: 20px; color: #334155;\">\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">{{ $json.strengths[0] }}</li>\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">{{ $json.strengths[1] }}</li>\n                                    <li style=\"margin-bottom: 0; line-height: 1.5;\">{{ $json.strengths[2] }}</li>\n                                </ol>\n                            </div>\n                            \n                            <!-- Current Status Section -->\n                            <div style=\"margin: 0 0 25px 0;\">\n                                <h2 style=\"margin: 0 0 12px 0; color: #667eea; font-size: 18px; font-weight: 600;\">Current Status</h2>\n                                <p style=\"margin: 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                    Your application is currently under consideration alongside other candidates. We need a bit more time to complete our assessment process, but we wanted to keep you informed of where things stand.\n                                </p>\n                            </div>\n                            \n                            <!-- Timeline Section -->\n                            <div style=\"background-color: #fef3c7; border-left: 4px solid #f59e0b; padding: 20px; margin: 0 0 25px 0; border-radius: 4px;\">\n                                <p style=\"margin: 0 0 12px 0; color: #92400e; font-weight: 600; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;\">Timeline</p>\n                                <ul style=\"margin: 0; padding-left: 20px; color: #78350f;\">\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">We expect to make our decision within the next <strong>5-7 business days</strong></li>\n                                    <li style=\"margin-bottom: 8px; line-height: 1.5;\">If selected to move forward, we'll reach out to schedule an interview</li>\n                                    <li style=\"margin-bottom: 0; line-height: 1.5;\">We will notify all applicants of our final decision regardless of outcome</li>\n                                </ul>\n                            </div>\n                            \n                            <!-- What This Means Section -->\n                            <div style=\"margin: 0 0 25px 0;\">\n                                <h2 style=\"margin: 0 0 12px 0; color: #667eea; font-size: 18px; font-weight: 600;\">What This Means</h2>\n                                <p style=\"margin: 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                    We're carefully evaluating all qualified candidates to find the best fit for both the role and our team. Your application remains active and is receiving full consideration.\n                                </p>\n                            </div>\n                            \n                            <!-- Additional Information Box -->\n                            <div style=\"background-color: #f0fdf4; border: 1px solid #86efac; padding: 20px; margin: 0 0 25px 0; border-radius: 4px;\">\n                                <p style=\"margin: 0 0 12px 0; color: #166534; font-weight: 600; font-size: 15px;\">рџ“Ћ Have More to Share?</p>\n                                <p style=\"margin: 0 0 10px 0; color: #166534; font-size: 14px; line-height: 1.6;\">\n                                    In the meantime, if you have:\n                                </p>\n                                <ul style=\"margin: 0; padding-left: 20px; color: #166534;\">\n                                    <li style=\"margin-bottom: 6px; line-height: 1.5;\">Additional portfolio work or projects you'd like to share</li>\n                                    <li style=\"margin-bottom: 6px; line-height: 1.5;\">Recent certifications or achievements</li>\n                                    <li style=\"margin-bottom: 0; line-height: 1.5;\">Questions about the role or our company</li>\n                                </ul>\n                                <p style=\"margin: 12px 0 0 0; color: #166534; font-size: 14px; line-height: 1.6;\">\n                                    Please feel free to <strong>reply to this email</strong>. We're happy to review any supplementary materials that might strengthen your application.\n                                </p>\n                            </div>\n                            \n                            <!-- Closing -->\n                            <p style=\"margin: 0 0 10px 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                We appreciate your patience during this process and will be in touch soon.\n                            </p>\n                            \n                            <p style=\"margin: 0; color: #555555; font-size: 15px; line-height: 1.6;\">\n                                Best regards,\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Signature -->\n                    <tr>\n                        <td style=\"padding: 0 30px 40px 30px;\">\n                            <div style=\"border-top: 2px solid #e5e7eb; padding-top: 20px;\">\n                                <p style=\"margin: 0 0 5px 0; color: #1f2937; font-size: 16px; font-weight: 600;\">[HR Manager Name]</p>\n                                <p style=\"margin: 0 0 5px 0; color: #6b7280; font-size: 14px;\">[Title]</p>\n                                <p style=\"margin: 0 0 5px 0; color: #6b7280; font-size: 14px;\"><strong>[Company Name]</strong></p>\n                                <p style=\"margin: 0; color: #6b7280; font-size: 14px;\">\n                                    <a href=\"mailto:[email@company.com]\" style=\"color: #667eea; text-decoration: none;\">[Email]</a> | \n                                    <span>[Phone]</span>\n                                </p>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background-color: #f9fafb; padding: 25px 30px; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;\">\n                            <p style=\"margin: 0 0 10px 0; color: #6b7280; font-size: 12px; line-height: 1.5; text-align: center;\">\n                                This is an automated message from our applicant tracking system. Please do not reply to this email if you have questions - instead, send a new email to [hr@company.com].\n                            </p>\n                            <p style=\"margin: 0; color: #9ca3af; font-size: 11px; text-align: center;\">\n                                В© 2025 [Company Name]. All rights reserved.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fb02699b-ec5e-4948-85d2-98db54d9d597",
      "name": "Send Email_2",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2272,
        704
      ],
      "webhookId": "629b5846-c86a-4a7d-942f-0455717df68e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "yuPOtRFMyy3wl0jD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hr@company.com",
        "subject": "=Interview Brief: {{ $('Get Form Data').item.json.content.answers['11'].answer.first }} {{ $('Get Form Data').item.json.content.answers['11'].answer.last }} - {{ $('Get Form Data').item.json.content.answers['17'].answer }} (Score: {{ $('Switch').item.json.compatibility_score }}/10)",
        "emailType": "text",
        "message": "=Dear [HR Manager Name],\n\nWe have a strong candidate for the {{ $('Get Form Data').item.json.content.answers['17'].answer }} position who is ready to be scheduled for an interview. Below is a comprehensive brief to help you prepare for the conversation.\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ“‹ CANDIDATE INFORMATION\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nName: {{ $('Get Form Data').item.json.content.answers['11'].answer.first }} {{ $('Get Form Data').item.json.content.answers['11'].answer.last }}\nEmail: {{ $('Get Form Data').item.json.content.answers['12'].answer }}\nPhone: {{ $('Get Form Data').item.json.content.answers['13'].answer.full }}\nApplied Position: {{ $('Get Form Data').item.json.content.answers['17'].answer }}\n\nAvailability:\n- Earliest Start Date: {{ $('Get Form Data').item.json.content.answers['14'].prettyFormat }}\n- Preferred Interview Time: {{ $('Get Form Data').item.json.content.answers['15'].prettyFormat }}\n\nResume: {{ $('Get Form Data').item.json.content.answers['8'].answer[0] }}\nApplication Date: {{ $now }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџЋЇ AI ASSESSMENT SUMMARY\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nCompatibility Score: {{ $('Switch').item.json.compatibility_score }}/10\nRecommendation: {{ $('Switch').item.json.recommendation }}\nYears of Experience: {{ $('Switch').item.json.experience_years }}\nEducation: {{ $('Switch').item.json.education }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ’Є KEY STRENGTHS\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\n- {{ $('Switch').item.json.strengths[0] }}\n- {{ $('Switch').item.json.strengths[1] }}\n- {{ $('Switch').item.json.strengths[2] }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ› пёЏ TECHNICAL SKILLS\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nProgramming Languages: {{ $('Switch').item.json.programming_languages }}\nFrameworks/Libraries: {{ $('Switch').item.json.frameworks }}\nTools & Platforms: {{ $('Switch').item.json.tools }}\nDatabases: {{ $('Switch').item.json.databases }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ’ј RELEVANT EXPERIENCE\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nRole: {{ $('Switch').item.json.relevant_experience[0].role }}\nCompany: {{ $('Switch').item.json.relevant_experience[0].company }}\nDuration: {{ $('Switch').item.json.relevant_experience[0].duration }}\nKey Achievement: {{ $('Switch').item.json.relevant_experience[0].key_achievements }}\n\nRole: {{ $('Switch').item.json.relevant_experience[1].role }}\nCompany: {{ $('Switch').item.json.relevant_experience[1].company }}\nDuration: {{ $('Switch').item.json.relevant_experience[1].duration }}\nKey Achievement: {{ $('Switch').item.json.relevant_experience[1].key_achievements }}\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nвљ пёЏ AREAS OF CONCERN (if any)\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\n- {{ $('Switch').item.json.concerns[0] || 'N/A'}}\n- {{ $('Switch').item.json.concerns[1] || 'N/A'}}\n- {{ $('Switch').item.json.concerns[2] || 'N/A'}}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџЋ¤ INTERVIEW FOCUS AREAS\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\n- {{ $('Switch').item.json.interview_focus_areas[0] }}\n- {{ $('Switch').item.json.interview_focus_areas[1] }}\n- {{ $('Switch').item.json.interview_focus_areas[2] }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nвќ“ SUGGESTED INTERVIEW QUESTIONS\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nTECHNICAL QUESTIONS:\n1. Can you walk me through your most complex technical project? What challenges did you face and how did you overcome them?\n\n2. I noticed you have experience with [specific technology from resume]. Can you explain a real-world problem you solved using it?\n\n3. How do you approach debugging when facing a difficult technical issue?\n\n4. Tell me about a time when you had to learn a new technology quickly. What was your approach?\n\n5. What's your experience with [key technology for the role]? Can you describe how you've used it in production?\n\nBEHAVIORAL QUESTIONS:\n6. Describe a situation where you disagreed with a team member about a technical decision. How did you handle it?\n\n7. Tell me about a time when you had to meet a tight deadline. How did you prioritize and manage your time?\n\n8. Can you share an example of when you received critical feedback? How did you respond?\n\n9. Describe your ideal team environment and how you contribute to team success.\n\n10. Tell me about a project that failed or didn't go as planned. What did you learn?\n\nPROBLEM-SOLVING SCENARIO:\n11. [Provide a relevant technical problem or case study based on the role]\n    Ask them to talk through their thought process and approach.\n\nMOTIVATION & FIT:\n12. What attracted you to this position and our company?\n\n13. Where do you see yourself growing in the next 2-3 years?\n\n14. What type of projects or work excites you the most?\n\n15. What questions do you have for us about the role, team, or company?\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ“Љ OVERALL ASSESSMENT\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\n{{ $('Switch').item.json.overall_assessment }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ“ќ COVER LETTER EXCERPT\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\n{{ $('Get Form Data').item.json.content.answers['7'].answer }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nвњ… RECOMMENDED NEXT STEPS\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\n1. Schedule interview for {{ $('Get Form Data').item.json.content.answers['15'].prettyFormat }} (candidate's preferred time)\n2. Send calendar invite with video conferencing link\n3. Prepare technical assessment or coding challenge (if applicable)\n4. Notify interview panel members\n5. Review this brief before the interview\n6. Candidate confirmation email has been sent - awaiting their response\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nPlease review this information before the interview and let me know if you need any additional details or if you'd like to adjust the interview time.\n\nBest regards,\nAutomated Recruitment System\n[Company Name]\n\n---\nThis is an automated message generated by our applicant tracking workflow.\nFor questions, contact: [HR Email]",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "59a541dd-df15-4534-871e-1aa5a2b7c686",
      "name": "Send Email to HR",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2496,
        528
      ],
      "webhookId": "d281abf9-aa89-4cf1-9122-819893d16a4b",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "yuPOtRFMyy3wl0jD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const candidateOutput = $input.item.json.output;\n\n// Extract JSON from the markdown code block\n// Gemini often wraps JSON in ```json ... ``` blocks\nlet jsonString = candidateOutput;\n\n// Remove markdown code blocks if present\nif (jsonString.includes('```json')) {\n  jsonString = jsonString.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n}\n\n// Parse the JSON string\nlet parsedData;\ntry {\n  parsedData = JSON.parse(jsonString.trim());\n} catch (error) {\n  // If parsing fails, try to extract JSON between first { and last }\n  const firstBrace = jsonString.indexOf('{');\n  const lastBrace = jsonString.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1) {\n    jsonString = jsonString.substring(firstBrace, lastBrace + 1);\n    parsedData = JSON.parse(jsonString);\n  } else {\n    throw new Error('Failed to parse JSON from Gemini output: ' + error.message);\n  }\n}\n\n// Extract key values\nconst result = {\n  // Basic Assessment\n  compatibility_score: parsedData.compatibility_score,\n  recommendation: parsedData.recommendation,\n  experience_years: parsedData.experience_years,\n  education: parsedData.education,\n  \n  // Technical Skills (flatten for easier access)\n  programming_languages: parsedData.technical_skills?.programming_languages || [],\n  frameworks: parsedData.technical_skills?.frameworks || [],\n  tools: parsedData.technical_skills?.tools || [],\n  databases: parsedData.technical_skills?.databases || [],\n  \n  // Strengths (extract just the text)\n  strengths: parsedData.key_strengths || [],\n  strengths_summary: parsedData.key_strengths?.join('; ') || '',\n  \n  // Concerns (extract just the text)\n  concerns: parsedData.concerns || [],\n  concerns_summary: parsedData.concerns?.join('; ') || '',\n  \n  // Experience\n  relevant_experience: parsedData.relevant_experience || [],\n  total_roles: parsedData.relevant_experience?.length || 0,\n  \n  // Interview recommendations\n  interview_focus_areas: parsedData.interview_focus_areas || [],\n  interview_topics: parsedData.interview_focus_areas?.join(', ') || '',\n  \n  // Overall assessment\n  overall_assessment: parsedData.overall_assessment || '',\n  \n  // Add decision flag for easy routing\n  is_strong_candidate: parsedData.compatibility_score >= 7,\n  is_moderate_candidate: parsedData.compatibility_score >= 5 && parsedData.compatibility_score < 7,\n  is_weak_candidate: parsedData.compatibility_score < 5,\n  \n  // Original full parsed data (in case you need it)\n  full_analysis: parsedData\n};\n\nreturn result;"
      },
      "id": "0ef40e79-7451-4638-b28c-b2aec9779373",
      "name": "Clean Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1712,
        688
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://api.jotform.com/submission/{{ $json.submissionID }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1f8c5716-9fe8-4374-bbc7-27234e491aff",
      "name": "Get Form Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1344,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Send Email ",
        "height": 592,
        "width": 528,
        "color": 7
      },
      "id": "fe4c2938-bc15-4fa0-903e-2463034c26a6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AI-powered resume screening and candidate email automation\nThis automation helps HR professionals and recruitment teams in handling high application volumes by saving hours on manual review of job applications.\n\n## What It Does: \n1. Candidate fills out a job application (template used from Jotform)\n2. Application receives and triggers this workflow\n3. Candidate's submission and CV gets downloaded and parsed.\n4. AI Agent analyses their CV and profile and checks their compatibility with the job profile.\n5. AI generates detailed analysis of the candidate and puts them under - Strong, Moderate or Weak candidate category\n6. Each candidate receives a personalized email:  - Strong candidate gets a confirmation of their interview date, - Moderate candidate gets a hold request for the job application, - Weak candidate gets rejected with positive feedback\n7. HR gets forwarded with the strong candidate insights like profile details, their strengths, concerns, skills, questions they should ask during the interview etc. on their email inbox",
        "height": 528,
        "width": 624,
        "color": 6
      },
      "id": "f446ee42-eb1c-403e-85c5-1420a47f7bfa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1. **JotForm**\n* Create a form on [JotForm](https://www.jotform.com/?partner=nitindixit) (use [Job Application Template](https://www.jotform.com/form-templates/job-application))\n* Get API key в†’ Settings в†’ API\n* Add n8n credentials: **JotForm account**\n* Add form ID in **JotForm Trigger**",
        "height": 384
      },
      "id": "3283c3e1-dcf7-4009-9219-4c12b5f30daf",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. **Get Form Data**\n* Create HTTP Header Auth: **JotForm**\n* Header: `APIKEY = Your JotForm API Key`\n* Use in **Get Form Data** & **Download Resume** nodes\n",
        "height": 320,
        "width": 384
      },
      "id": "59737c0d-f957-4dc4-acac-fc5c0dbdc07a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. **LlamaCloud (PDF Parsing)**\n* Sign up at [LlamaCloud](https://cloud.llamaindex.ai/) в†’ get API key\n* Create HTTP Header Auth: **LlamaCloud**\n* Header: `Authorization = Bearer YOUR_TOKEN_HERE`\n* Apply to **Upload**, **Check Parsing**, **Retrieve Result**",
        "height": 320,
        "width": 448
      },
      "id": "a968b5e3-9a98-45c8-923c-a4f2da2b1391",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. **OpenAI (AI Analysis)**\n* Get API key from [OpenAI](https://platform.openai.com/)\n* Add n8n credentials: **OpenAI account**\n* Use in **Chat Model** node (default: `gpt-4o-mini`)",
        "height": 128,
        "width": 416
      },
      "id": "36ebc8f8-a95c-4dc3-8ba9-44f0495bfe04",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 5. **Gmail (Email Automation)**\n* Add OAuth2 credentials: **Gmail account**\n* Apply to all **Send Email** nodes\n* Replace placeholders (`[Company Name]`, `[HR Manager Name]`, etc.)\n* Update HR recipient in **Send a message** node",
        "height": 176,
        "width": 416
      },
      "id": "fd4e8077-5e9c-4972-8d77-8fbd5b48c249",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        720
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Retrieve Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Email_1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email_2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email_3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email_1": {
      "main": [
        [
          {
            "node": "Send Email to HR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parsing": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Form Data": {
      "main": [
        [
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Check Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Upload to LlamaCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JotForm Trigger": {
      "main": [
        [
          {
            "node": "Get Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Result": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload to LlamaCloud": {
      "main": [
        [
          {
            "node": "Check Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "063d22df-4c26-4422-a09c-a6c25c901822",
  "meta": {
    "templateId": "9399",
    "instanceId": "c681da2e009589d28874031410990cfb3f0cb46c2c9ed81d4259a096a1997d6e"
  },
  "id": "xlJT6rezUios4Fvy",
  "tags": []
}